.mode-interact .mce-tinymce-inline {
  display: none;
}

.mode-interact .mce-edit-highlight,
.mode-interact .mce-edit-focus {
  outline: none;
}

.mode-interact #mce-modal-block {
  display: none !important;
}