.mode-interact .mce-tinymce-inline {
  display: none;
}

.mode-interact .mce-edit-highlight,
.mode-interact .mce-edit-focus,
.mode-interact .mce-content-body {
  outline: none;
}

.mce-content-body *[contentEditable=false][data-mce-selected] {
  outline: none;
}

.fl-wysiwyg-text {
  word-break: break-word;
}